fastapi
uvicorn[standard]
python-multipart

python-dotenv

pydantic
pydantic-settings

sqlalchemy
psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]

ultralytics
torch==2.2.2
torchvision==0.17.2
opencv-python
numpy==1.26.4
pillow

google-genai

chromadb

langchain-text-splitters

pymupdf

reportlab

pandas

httpx
requests

PyYAML

tqdm